#!/bin/sh

printf "\nWelcome to KOSMOS, the AI for Oncology compute cluster\n"
printf "\n"
printf "*********************************************************************************\n"
printf "*  - Please use /processing/<username> as scratch space for your jobs.          *\n"
printf "*    This folder can also be accessed in the variable '\$SCRATCH'.               *\n"
printf "*  - You can use 'nvtop' to monitor GPU usage interactively.                    *\n"
printf "*                                                                               *\n"
printf "*  - Loading of modules can be done using 'spack'. More information is          *\n"
printf "*    available on the confluence page.                                          *\n"
printf "*********************************************************************************\n"
printf "\n"